{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" {% if LANGUAGE_BIDI %} dir="rtl"  {% endif %}>
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %}>{% translate "Contact" %}</h2>
          <p {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %}>{% translate "Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas." %}</p>
        </div>

        <div class="my-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.3780543206717!2d51.399720110881155!3d35.71691977051921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0126f8ba098b%3A0x9648cbba5b7e5ae4!2sTehran%20Province%2C%20Tehran%2C%20District%206%2C%20Dr%20Fatemi%20St%2C%20Iran!5e0!3m2!1sen!2sro!4v1647192081601!5m2!1sen!2sro" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"></iframe>        
        </div>
        
        <div class="row mt-5" >

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4 {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %}>{% translate "Location" %}:</h4>
                <p {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %}>{% translate "Fatemi Street , Tehran , IR 06" %}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4 {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %}>{% translate "Email" %}:</h4>
                <p>radmantavanaa@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4 {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %}>{% translate "Call" %}:</h4>
                <p {% if LANGUAGE_BIDI %} dir="rtl"  {% endif %}>+98 939 109 4958</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'contact-me' %}" method="post" role="form" class="was-validated">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %} type="text" name="name" class="form-control" id="name" placeholder="{% translate "Your Name" %}" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0 ">
                  <input {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %} type="email" class="form-control " name="email" id="email" placeholder="{% translate "Your Email" %}" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %} type="text" class="form-control" name="subject" id="subject" placeholder="{% translate "Subject" %}" required>
              </div>
              <div class="form-group mt-3">
                <textarea {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %} class="form-control" name="message" rows="5" placeholder="{% translate "Message" %}" required></textarea>
              </div>
              {% if confrim %}
              <div class="my-3">{{confrim.confrim}}</div> 
              {% endif %}
              <div class="text-center"><button {% if LANGUAGE_BIDI %} style="font-family: Shabnam !important ;"  {% endif %} type="submit" class="btn btn-success rounded-pill mt-5 px-5">{% translate "Send Message" %}</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}