<div class="col-lg-6">
    <div class="single-job">
        <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
                <h4>Senior Creative Design</h4>
                <p>Old Bird IT, New Yorkt</p>
            </div>
            <div class="top-right">
                <a href="#" class="primary-btn" data-text="Jul '15 to Present">
                    <span>J</span><span>u</span><span>l</span>
                    <span>'</span><span>1</span><span>5</span>
                    <span>t</span><span>o</span>
                    <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span>
                </a>
            </div>
        </div>
        <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            All users on MySpace will know that there are millions of people out there. Every day besides. All users on My will know
            that there are millions of people out of the field there.
        </div>
    </div>
</div>


<!--

.single-job {
  background-color: #f9f9ff;
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 576px) {
    .single-job .top-sec {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .single-job .top-left h4 {
    color: #000;
    font-size: 21px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700; }
    @media (max-width: 1199px) {
      .single-job .top-left h4 {
        font-size: 18px; } }
  @media (max-width: 576px) {
    .single-job .bottom-sec {
      margin-top: 30px; } }
  .single-job .primary-btn {
    padding: 0 28px;
    background: #fff;
    color: #222222;
    border: 1px solid #90acd1; }
    @media (max-width: 1199px) {
      .single-job .primary-btn {
        padding: 0 15px; } }
    .single-job .primary-btn span {
      color: #222222; }
    .single-job .primary-btn:before {
      color: #222222; }
  .single-job:hover {
    background: #90acd1;
    cursor: pointer;
    color: #fff; }
    .single-job:hover .top-left h4 {
      color: #fff; }


-->